<script setup lang="ts">
import { RouterLink } from 'vue-router'
</script>

<template>
    <nav>
        <div class="navbar-content">
            <div class="navbar-auth">

                <RouterLink to="/">Home</RouterLink>
                <RouterLink to="/about">About</RouterLink>
                "User name"
                <button @click="logout">Выйти</button>   
            
        
            </div>
            <div class="navbar-not-auth">
                <RouterLink to="/login">Login</RouterLink>
            </div>
        </div>
    </nav>

</template>