<template>
    <h2>Вход</h2>
    <form @submit.prevent="handleLogin">
        <input
            placeholder="username"
            v-model="userAuth.username"
            required
        />
        <input
            placeholder="password"
            type="password"
            v-model="userAuth.password"
            required
        />
        <button type="submit">Войти</button>
    </form>

</template>

<script lang="ts">
import {defineComponent, reactive, toRaw} from "vue"
import {useRouter} from "vue-router"
import {User} from "../classes"
import AuthService from "../services/AuthService"

export default defineComponent({
    name:"Login",
    setup() {
        const router = useRouter()
        const userAuth = reactive<User> ({username: "", password: ""});

        const handleLogin = async() => {
            try {
                const authedUser = await AuthService.login(toRaw(userAuth))
                console.log(authedUser)
                router.push("/")
            } catch (err:any) {
                console.log(err)
            }
        }
        return {userAuth, handleLogin}
    }
})
</script>